.MainScope {
	position: relative;
	margin-top: 70px;
	margin-bottom: 60px;
}

.RegisteColumn {
	padding-bottom: 5px
}

.SearchSDateLabel {
	margin-right: 10px;
}

.SearchEDateLabel {
	margin: 0 10px 0 10px;
}

.SearchBtn {
	margin-left: 10px;
}